<section class="section">
  <include
    src="./article-information.html"
    classtexts="text1"
    subtitle="Lorem ipsum dolor sit amet"
    text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque alias, rem
    temporibus minima veritatis assumenda eaque, ipsum aliquid tempora impedit
    nam labore laudantium, delectus. Quae iste perspiciatis voluptate maxime
    fuga."
  >
  </include>
  <hr class="section__separator" />
  <include
    src="./article-information.html"
    classtexts="text2"
    subtitle="Lorem ipsum dolor sit amet"
    text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque alias, rem
    temporibus minima veritatis assumenda eaque, ipsum aliquid tempora impedit
    nam labore laudantium, delectus. Quae iste perspiciatis voluptate maxime
    fuga."
  >
  </include>
  <hr class="section__separator" />
  <include
    src="./article-information.html"
    classtexts="text3"
    subtitle="Lorem ipsum dolor sit amet"
    text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque alias, rem
    temporibus minima veritatis assumenda eaque, ipsum aliquid tempora impedit
    nam labore laudantium, delectus. Quae iste perspiciatis voluptate maxime
    fuga."
  >
  </include>
</section>
