<section class="section">
  <article class="section__article">
    <h2 class="section__article-subtitle">Lorem ipsum dolor sit amet</h2>
    <p class="section__article-text1">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque alias, rem
      temporibus minima veritatis assumenda eaque, ipsum aliquid tempora impedit
      nam labore laudantium, delectus. Quae iste perspiciatis voluptate maxime
      fuga.
    </p>
  </article>
  <hr class="section__separator" />
  <article class="section__article">
    <h2 class="section__article-subtitle">Lorem ipsum dolor sit amet</h2>
    <p class="section__article-text2">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque alias, rem
      temporibus minima veritatis assumenda eaque, ipsum aliquid tempora impedit
      nam labore laudantium, delectus. Quae iste perspiciatis voluptate maxime
      fuga.
    </p>
  </article>
  <hr class="section__separator" />
  <article class="section__article">
    <h2 class="section__article-subtitle">Lorem ipsum dolor sit amet</h2>
    <p class="section__article-text3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque alias, rem
      temporibus minima veritatis assumenda eaque, ipsum aliquid tempora impedit
      nam labore laudantium, delectus. Quae iste perspiciatis voluptate maxime
      fuga.
    </p>
  </article>
</section>
