<header class="header">
  <div class="wrapper">
    <section class="header__section">
      <img
        class="header__section-img"
        src="./assets/images/logo.png"
        alt="logo"
      />
      <h1 class="header__section-title">LayoutDeEjemplo</h1>
    </section>
    <nav class="header-nav">
      <ul class="header-nav__ul">
        <li class="header-nav__li">
          <a class="header-nav__li-item" href="#">Link1</a>
        </li>
        <li class="header-nav__li">
          <a class="header-nav__li-item" href="#">Link2</a>
        </li>
        <li class="header-nav__li">
          <a class="header-nav__li-item" href="#">Link3</a>
        </li>
        <li class="header-nav__li">
          <a class="header-nav__li-item" href="#">Link4</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
