// fonts
$font-main: Arial, Helvetica, sans-serif;

// colors
$color-header-footer: #ff993e;
$color-links-bg: #c0392b;
$color-text: black;
$color-links: white;
$color-grey: #c8c5c5;
$color-aside-bg: #008000;
$color-media-bg: #874000;
$color-links-hover: #e74c3c;
