.aside {
  @include desktop {
    background-color: $color-aside-bg;
    height: 100vh;
    width: 860px;
  }
  &__div {
    @include desktop {
      background-color: $color-header-footer;
      width: 100%;
      // height: 230px;
    }
  }
}
