.aside {
  @include tablet {
    background-color: $color-aside-bg;
  }
  &__div {
    @include tablet {
      background-color: $color-header-footer;

      height: 100px;
    }
    @include desktop {
      height: 160px;
    }
  }
}
