.footer {
  min-height: 10vh;

  background-color: $color-header-footer;
  padding-top: 15px;
  padding-bottom: 15px;
  // height: 20vh;

  &-nav {
    background-color: $color-links-bg;
    &__menu {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      width: 300px;
      height: 50px;
    }
    &__li {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      &-item {
        color: $color-links;
      }
    }
    &__li:hover {
      // text-align: center;
      background-color: $color-links-hover;
    }
  }
  &-media {
    background-color: $color-media-bg;
    &__li {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      &-item {
        color: $color-links;
        text-transform: uppercase;
      }
    }
    &__li:hover {
      text-align: center;
      background-color: $color-links-hover;
    }
    &__menu {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: 150px;
      height: 50px;
    }
  }
}
