.header {
  background-color: $color-header-footer;
  min-height: 10vh;
  // display: flex;
  // flex-direction: column;
  // align-items: center;

  &__section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    &-img {
      width: 40px;
    }
    &-title {
      padding-left: 10px;
      font-size: 25px;
      color: $color-text;
      // revisar grosor del title
    }
  }
  &-nav {
    background-color: $color-links-bg;
    &__ul {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      width: 100vw;
      height: 50px;
      @include desktop {
        width: 500px;
      }
    }
    &__li {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      &-item {
        color: $color-links;
      }
    }
    &__li:hover {
      background-color: $color-links-hover;
    }
  }
}
